<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/scripts.js') }}"
      defer
    ></script>
  </head>
  <body class="container">
    <!-- prettier-ignore -->
    {% include 'navbar.html' %} 
    {% block content %} 
    {% endblock content %} 
    {% include 'footer.html' %}
  </body>
</html>
