{% extends 'base.html' %} {% block content %}
<section class="video-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="course-title">{{ course.course_name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <video controls class="video-player">
          <source
            src="https://dentbitestaticfiles.nyc3.digitaloceanspaces.com/static/videos/{{ course.video }}"
            type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
